span.mce_wpc_client_button_shortcodes {
    background-image: url("../client-icon.png") !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
}
